# codex for building the frontend of the application
.agents/
.codex/

# environments and secrets
.env
.venv

# static
static/uploads/profile_pictures/*
!static/uploads/profile_pictures/.gitkeep

# misc
__pycache__/
commands.txt